# Temporary Files
*~
.*.swp
.DS_STORE
*.cache

bin/
target/
test-classes/
war/
gwt-unitCache/
example/**/gen/
dist/
**/webapp/assets
.gradle/
build/

*.iml
*.a
/.idea/
.idea/
workspace.xml
tasks.xml
local.properties
*.class
.settings
out/
*.ini
.temp/
*.log

**/runtime/runtime-core/src/main/java/**
**/runtime/runtime-jvm/**/src/main/java/**
**/runtime/runtime-c/**/src/main/java/**

**/webapp/**
**/lib/core/src/**

**/lib/web/wasm/src/main/java/**
**/lib/core/src/main/java/**
**/lib/shared/c/src/main/java/**
**/lib/shared/jni/src/main/java/**
**/lib/desktop/ffm/src/main/java/**
**/lib/android/c/src/main/java/**
**/lib/android/jni/src/main/java/**

**/libA/web/wasm/src/main/java/**
**/libA/core/src/main/java/**
**/libA/shared/c/src/main/java/**
**/libA/shared/jni/src/main/java/**
**/libA/desktop/ffm/src/main/java/**
**/libA/android/c/src/main/java/**
**/libA/android/jni/src/main/java/**

**/libB/web/wasm/src/main/java/**
**/libB/core/src/main/java/**
**/libB/shared/c/src/main/java/**
**/libB/shared/jni/src/main/java/**
**/libB/desktop/ffm/src/main/java/**
**/libB/android/c/src/main/java/**
**/libB/android/jni/src/main/java/**

**/android/libs
**/android-c/libs


**/app/android/libs/
.codiumai
.kotlin/

# Local agent recovery state
.agents/*
