# Temporary Files
*~
.*.swp
.DS_STORE
*.cache

bin/
target/
test-classes/
war/
gwt-unitCache/
gen/
dist/
**/webapp/assets
.gradle/
build/

*.iml
*.a
/.idea/
.idea/
workspace.xml
tasks.xml
local.properties
*.class
.settings
out/
*.ini
.temp/
*.log

**/webapp/**
**/lib/core/src/**
**/lib/desktop/src/main/**
**/lib/lib-teavm/src/main/java/**
**/lib/lib-core/src/main/java/**
**/app/android/libs/
