name: Build and Upload

on:
  workflow_call:
    inputs:
      isRelease:
        required: true
        type: boolean
      shouldUpload:
        required: true
        type: boolean

env:
  CENTRAL_PORTAL_USERNAME: ${{ secrets.CENTRAL_PORTAL_USERNAME }}
  CENTRAL_PORTAL_PASSWORD: ${{ secrets.CENTRAL_PORTAL_PASSWORD }}
  SIGNING_KEY: ${{ secrets.PGP_SECRET }}
  SIGNING_PASSWORD: ${{ secrets.PGP_PASSPHRASE }}

jobs:
  build_windows:
    name: Build Windows
    runs-on: windows-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17

      - name: Set up MinGW
        uses: msys2/setup-msys2@v2

      - name: Set up Developer Command Prompt
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64

      - name: Append the directory of 'vcvarsall.bat' to PATH environment variable
        uses: myci-actions/export-env-var-powershell@1
        with:
          name: PATH
          value: $env:PATH;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build

      - name: Build project idl-helper
        run: ./gradlew idl_helper_build_project_windows64

      - name: Build project
        run: ./gradlew TestLib_build_project_windows64

      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: windows-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: windows-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

  build_linux:
    name: Build Linux
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17

      - name: Set up MinGW
        run: |
          sudo apt install -y --force-yes mingw-w64 lib32z1

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build project idl-helper
        run: ./gradlew idl_helper_build_project_linux64

      - name: Build project
        run: ./gradlew TestLib_build_project_linux64

      - name: Build project
        run: ./gradlew TestLib_build_project_linux64

      - name: Build Shared LibA project
        run: ./gradlew LibA_build_project_linux64

      - name: Build Shared LibB project
        run: ./gradlew LibB_build_project_linux64

      - name: Test Shared Lib
        run: ./gradlew :examples:SharedLib:app:core:test

      - name: Upload natives idl-helper
        uses: actions/upload-artifact@v4
        with:
          name: linux-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: linux-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

  build_mac:
    name: Build Mac
    runs-on: macos-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build project idl-helper
        run: ./gradlew idl_helper_build_project_mac64 idl_helper_build_project_macArm

      - name: Build project
        run: |
          ./gradlew TestLib_build_project_mac64 TestLib_build_project_macArm

      - name: Upload natives idl-helper
        uses: actions/upload-artifact@v4
        with:
          name: mac-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: mac-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

  build_teavm:
    name: Build TeaVM
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17

      - name: Set up MinGW
        run: |
          sudo apt install -y --force-yes mingw-w64 lib32z1

      - name: Install emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.18

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build project idl-helper
        run: ./gradlew idl_helper_build_project_teavm

      - name: Build project
        run: ./gradlew TestLib_build_project_teavm

      - name: Upload natives idl-helper
        uses: actions/upload-artifact@v4
        with:
          name: teavm-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: teavm-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

  build_android:
    name: Build Android
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17

      - name: Set up MinGW
        run: |
          sudo apt install -y --force-yes mingw-w64 lib32z1

      - name: Install NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r29
          add-to-path: false
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build project idl-helper
        run: ./gradlew idl_helper_build_project_android
        env:
          NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Build project
        run: ./gradlew TestLib_build_project_android
        env:
          NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: android-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: android-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/
  
  upload_natives:
    name: Upload Natives
    needs: [build_windows, build_linux, build_mac, build_android, build_teavm]
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get version
        uses: madhead/read-java-properties@latest
        id: version
        with:
          file: "./gradle.properties"
          property: version
          default: 0.0.1

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17

      - name: Set up MinGW
        run: |
          sudo apt install -y --force-yes mingw-w64 lib32z1

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Download windows natives idl-helper
        uses: actions/download-artifact@v4
        with:
          name: windows-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Download windows natives
        uses: actions/download-artifact@v4
        with:
          name: windows-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

      - name: Download linux natives idl-helper
        uses: actions/download-artifact@v4
        with:
          name: linux-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Download linux natives
        uses: actions/download-artifact@v4
        with:
          name: linux-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

      - name: Download mac natives idl-helper
        uses: actions/download-artifact@v4
        with:
          name: mac-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Download mac natives
        uses: actions/download-artifact@v4
        with:
          name: mac-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

      - name: Download android natives idl-helper
        uses: actions/download-artifact@v4
        with:
          name: android-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Download android natives
        uses: actions/download-artifact@v4
        with:
          name: android-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

      - name: Download teavm natives idl-helper
        uses: actions/download-artifact@v4
        with:
          name: teavm-natives
          path: ./idl-helper/idl-helper-build/build/c++/libs/

      - name: Download teavm natives
        uses: actions/download-artifact@v4
        with:
          name: teavm-natives-test
          path: ./examples/TestLib/lib/lib-build/build/c++/libs/

      - name: Generate Java classes
        run: ./gradlew TestLib_build_project

      - name: Generate IDL-Helper project
        run: ./gradlew :idl-helper:idl-helper-build:idl_helper_build_project

      - name: Upload Release to repository
        uses: nick-fields/retry@v3
        if: ${{ inputs.shouldUpload && inputs.isRelease }}
        with:
          max_attempts: 3
          timeout_minutes: 10
          retry_on: error
          command: ./gradlew publishRelease

      - name: Upload Snapshot to repository
        uses: nick-fields/retry@v3
        if: ${{ inputs.shouldUpload && !inputs.isRelease }}
        with:
          max_attempts: 3
          timeout_minutes: 10
          retry_on: error
          command: ./gradlew publishSnapshot

      - name: Create Git tag
        uses: actions/github-script@v7
        if: ${{ inputs.isRelease }}
        with:
          script: |
            const versionOutputs = ${{ toJSON(steps.version.outputs) }};
            
            var version = versionOutputs.value;
            
            console.log("Version: " + version);
            
            var ref = "refs/tags/" + version
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: ref,
              sha: context.sha
            });